/* CONTACTS */
@media all and (min-width: 1220px) {
    .contacts {
        padding-top: 140px;
        // padding-bottom: 118px;
    }
    
    .wr-form {
        position: relative;
        max-height: 520px;
        // padding-bottom: 118px;
        h4 {
            margin: 0 0 84px 0;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position: absolute;
                top: 50px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 0;
                width: 200px;
                height: 1px;
                background-color: #eee;
    
            }
        }
        h5 {
            margin: 0 0 84px 0;
            position: absolute;
            top: 0;
            left: 600px;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position: absolute;
                top: 50px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 0;
                width: 220px;
                height: 1px;
                background-color: #eee;
            }
        }
    
        form {
            position: relative;
            bottom: 412px;
            left: 602px;
            display: grid;
            max-width: 570px;
            grid-template-rows: 46px 46px auto 46px;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            input, textarea {
                border: solid 1px #ddd;
                padding-left: 12px;
                // padding-top: 5px;
            }
            input::placeholder, textarea::placeholder {
                // padding-left: 12px;
                // padding-top: 5px;
                font-family: "Raleway-reg", sans-serif;
                font-size: 14px;
                letter-spacing: 0.35px;
                color: #787878;
    
            }
    
            textarea {
                height: 164px;
                grid-row: 3/4;
                grid-column: 1/ span 2;
                resize: none;
            }
            button {
                width: 170px;
                background-color: #ff7200;
                font-family: "mont-reg", sans-serif;
                font-size: 13px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    
        img {
            position: absolute;
        }
    
        .headph {
            top: 0;
            left: -270px;
        }
        .clips {
            top: 335px;
            left: -230px;
        }
    
        .glasses {
            top: 278px;
            left: 333px;
        }
    
        .pens {
            top: 0;
            right: -260px;
        }
    
        .pencil-2 {
            top: 400px;
            right: -250px;
        }
    
        .pencil-1 {
            top: 430px;
            right: -290px;
        }
    }
    
    .cont-us {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        
    }
    .list-item {
        display: flex;
        margin-bottom: 43px;
        max-height: 62px;
        .img-icon {
            width: 62px;
            height: 60px;
            background-image: url("../media/dest/png/Pol-cont-op.png");
            background-repeat: no-repeat;
            position: relative;
            fill: #444;
            .icon {
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
            }
        }
        .cont-info {
            margin-left: 40px;
            h6 {
                margin: 0;
                padding-top: 6px;
                padding-bottom: 10px;
                font-family: "mont-reg", sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                color: #444;
            }
            p, a {
                margin: 0;
                font-family: "raleway-reg", sans-serif;
                font-size: 14px;
                letter-spacing: 0.45px;
                color: #787878;
            }
        }
    }
}

@media all and (min-width: 770px) and (max-width: 1219px) {
    .contacts {
        padding-top: 140px;
        // padding-bottom: 118px;
    }
    
    .wr-form {
        display: flex;
        flex-direction: column;
        position: relative;
        //max-height: 1100px;
        // padding-bottom: 118px;
        h4 {
            margin: 0 0 84px 0;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position: absolute;
                top: 50px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 0;
                width: 200px;
                height: 1px;
                background-color: #eee;
    
            }
        }
        h5 {
            margin: 20px 0 84px;
            position: relative;
            //top: 0;
            //left: 600px;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position: absolute;
                top: 50px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 0;
                width: 220px;
                height: 1px;
                background-color: #eee;
            }
        }
    
        form {
            //position: relative;
           // bottom: 412px;
           // left: 602px;
            display: grid;
            max-width: 700px;
            grid-template-rows: 46px 46px auto 46px;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            input, textarea {
                border: solid 1px #ddd;
                padding-left: 12px;
            }
            input::placeholder, textarea::placeholder {
                // padding-left: 12px;
                // padding-top: 5px;
                font-family: "Raleway-reg", sans-serif;
                font-size: 14px;
                letter-spacing: 0.35px;
                color: #787878;
    
            }
            // textarea::placeholder {
            //     padding-top: 10px;
            // }
    
            textarea {
                height: 164px;
                grid-row: 3/4;
                grid-column: 1/ span 2;
                resize: none;
            }
            button {
                width: 170px;
                background-color: #ff7200;
                font-family: "mont-reg", sans-serif;
                font-size: 13px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    
        img {
            position: absolute;
        }
    
        .headph {
            top: 500px;
            left: 800px;
        }
        .clips {
            top: 235px;
            left: 750px;
        }
    
        .glasses {
            top: 318px;
            left: 333px;
        }
    
        .pens {
            display: none;
            top: 0;
            right: -260px;
        }
    
        .pencil-2 {
            display: none;
            top: 400px;
            right: -250px;
        }
    
        .pencil-1 {
            display: none;
            top: 430px;
            right: -290px;
        }
    }
    
    .cont-us {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //flex-direction: column;
        max-width: 700px;
        
    }
    .list-item {
        display: flex;
        flex-basis: 350px;
        margin-bottom: 43px;
        //max-height: 62px;
        .img-icon {
            flex-shrink: 0;
            width: 62px;
            height: 60px;
            background-image: url("../media/dest/png/Pol-cont-op.png");
            background-repeat: no-repeat;
            position: relative;
            fill: #444;
            .icon {
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
            }
        }
        .cont-info {
            margin-left: 40px;
            h6 {
                margin: 0;
                padding-top: 6px;
                padding-bottom: 10px;
                font-family: "mont-reg", sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                color: #444;
            }
            p, a {
                margin: 0;
                font-family: "raleway-reg", sans-serif;
                font-size: 14px;
                letter-spacing: 0.45px;
                color: #787878;
            }
        }
    }
}

@media all and (min-width: 300px) and (max-width: 769px) {
    .contacts {
        padding-top: 70px;
        // padding-bottom: 118px;
    }
    
    .wr-form {
        display: flex;
        flex-direction: column;
        position: relative;
        //max-height: 1100px;
        // padding-bottom: 118px;
        h4 {
            margin: 0 0 84px 0;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position: absolute;
                top: 50px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 0;
                width: 200px;
                height: 1px;
                background-color: #eee;
    
            }
        }
        h5 {
            margin: 20px 0 84px;
            position: relative;
            //top: 0;
            //left: 600px;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position: absolute;
                top: 50px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
            &::after {
                content: '';
                position: absolute;
                top: 52px;
                left: 0;
                width: 220px;
                height: 1px;
                background-color: #eee;
            }
        }
    
        form {
            //position: relative;
           // bottom: 412px;
           // left: 602px;
            display: grid;
            max-width: 700px;
            grid-template-rows: 46px 46px 46px 46px auto 46px;
            grid-template-columns: 1fr;
            //grid-column-gap: 20px;
            grid-row-gap: 20px;
            input, textarea {
                border: solid 1px #ddd;
                padding-left: 12px;
            }
            input::placeholder, textarea::placeholder {
                //padding-left: 12px;
                //padding-top: 5px;
                font-family: "Raleway-reg", sans-serif;
                font-size: 14px;
                letter-spacing: 0.35px;
                color: #787878;
    
            }
            // textarea::placeholder {
            //     padding-top: 10px;
            // }
    
            textarea {
                min-height: 164px;
                //grid-row: 3/4;
                //grid-column: 1/ span 2;
                resize: none;
            }
            button {
                width: 170px;
                background-color: #ff7200;
                font-family: "mont-reg", sans-serif;
                font-size: 13px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    
        // img {
        //     position: absolute;
        // }
    
        .headph {
            display: none;
            top: 500px;
            left: 800px;
        }
        .clips {
            display: none;
            top: 235px;
            left: 750px;
        }
    
        .glasses {
            display: none;
            top: 318px;
            left: 333px;
        }
    
        .pens {
            display: none;
            top: 0;
            right: -260px;
        }
    
        .pencil-2 {
            display: none;
            top: 400px;
            right: -250px;
        }
    
        .pencil-1 {
            display: none;
            top: 430px;
            right: -290px;
        }
    }
    
    .cont-us {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //flex-direction: column;
        max-width: 700px;
        
    }
    .list-item {
        display: flex;
        flex-basis: 350px;
        margin-bottom: 43px;
        //max-height: 62px;
        .img-icon {
            flex-shrink: 0;
            width: 62px;
            height: 60px;
            background-image: url("../media/dest/png/Pol-cont-op.png");
            background-repeat: no-repeat;
            position: relative;
            fill: #444;
            .icon {
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
            }
        }
        .cont-info {
            margin-left: 40px;
            h6 {
                margin: 0;
                padding-top: 6px;
                padding-bottom: 10px;
                font-family: "mont-reg", sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                color: #444;
            }
            p, a {
                margin: 0;
                font-family: "raleway-reg", sans-serif;
                font-size: 14px;
                letter-spacing: 0.45px;
                color: #787878;
            }
        }
    }
}

// .head-text {
//     display: flex;
//     .cont-us, .message {
//         flex-grow: 1;
//     }
//     .message {
//         margin-left: 50px;
//     }
//     h4 {
//         margin: 0;
//         font-family: "mont-reg", sans-serif;
//         font-size: 24px;
//         text-transform: uppercase;
//         letter-spacing: 1.5px;
//         color: #444;
//     }
// }



