/* CRAZY TEAM */
@media all and (min-width: 1201px) {
    .crazy-team {
        padding-top: 35px;
        padding-bottom: 70px;
        h3 {
            margin: 0 0 85px;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position:absolute;
                top: 58px;
                left: 0;
                width: 173px;
                height: 1px;
                background-color: #eee;
            }
            &::after {
                content: '';
                position: absolute;
                top: 56px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
        }
    }
    
    .photo-cards {
        display: flex;
        justify-content: space-between;
        .soc-cont1, .soc-cont2, .soc-cont3, .soc-cont4  {
            width: 270px;
            height: 350px;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .soc-cont1 {
            background-image: url("../media/dest/jpg/boy1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont2 {
            background-image: url("../media/dest/jpg/man-suit.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont3 {
            background-image: url("../media/dest/jpg/man-glass.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont4 {
            background-image: url("../media/dest/jpg/girl1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }

    }
    
    .name-card {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff7200;
        opacity: 0.9;
        transition: 0.5s ease-out;
        h6 {
            margin: 0;
            padding-left: 20px;
            padding-top: 18px;
            font-family: "mont-reg", sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }
        p {
            margin: 0;
            padding-left: 20px;
            padding-top: 6px;
            padding-bottom: 40px;
            font-family: "raleway-reg", sans-serif;
            font-size: 14px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
        .net-cont {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 190px;
            .border {
                width: 35px;
                height: 35px;
                border: solid 1px rgba($color: #fff, $alpha: 0.5);
                position: relative;
                fill:#fff;
                &:hover {
                    background-color: #fff;
                    fill:#ff7200;
    
                }
            }
            // .border.active {
            //         background-color: #fff;
            //         fill:#ff7200;
            // }
                // &:nth-child(1) {
                //     background-color: #fff;
                // }
            
            .icon {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media all and (min-width: 770px) and (max-width: 1200px) {
    .crazy-team {
        padding-top: 35px;
        padding-bottom: 70px;
        h3 {
            margin: 0 0 85px;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position:absolute;
                top: 58px;
                left: 0;
                width: 173px;
                height: 1px;
                background-color: #eee;
            }
            &::after {
                content: '';
                position: absolute;
                top: 56px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
        }
    }
    
    .photo-cards {
        display: flex;
        justify-content: space-between;
        .soc-cont1, .soc-cont2, .soc-cont3, .soc-cont4  {
            width: 24%;
            height: 350px;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .soc-cont1 {
            background-image: url("../media/dest/jpg/boy1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont2 {
            background-image: url("../media/dest/jpg/man-suit.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont3 {
            background-image: url("../media/dest/jpg/man-glass.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont4 {
            background-image: url("../media/dest/jpg/girl1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
       
    }
    
    .name-card {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #ff7200;
        opacity: 0.9;
        transition: 0.5s ease-out;
        h6 {
            margin: 0;
            //padding-left: 20px;
            padding-top: 18px;
            font-family: "mont-reg", sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }
        p {
            margin: 0;
            //padding-left: 20px;
            padding-top: 6px;
            padding-bottom: 40px;
            font-family: "raleway-reg", sans-serif;
            font-size: 14px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
        .net-cont {
            margin: 0 4px 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            //width: 190px;
            .border {
                width: 35px;
                height: 35px;
                border: solid 1px rgba($color: #fff, $alpha: 0.5);
                position: relative;
                fill:#fff;
                &:hover {
                    background-color: #fff;
                    fill:#ff7200;
    
                }
            }
            .border.active {
                    background-color: #fff;
                    fill:#ff7200;
            }
                // &:nth-child(1) {
                //     background-color: #fff;
                // }
            
            .icon {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media all and (min-width: 530px) and (max-width: 769px) {
    .crazy-team {
        padding-top: 35px;
        padding-bottom: 35px;
        h3 {
            margin: 0 0 75px;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position:absolute;
                top: 58px;
                left: 0;
                width: 173px;
                height: 1px;
                background-color: #eee;
            }
            &::after {
                content: '';
                position: absolute;
                top: 56px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
        }
    }
    
    .photo-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .soc-cont1, .soc-cont2, .soc-cont3, .soc-cont4  {
            margin: 10px;
            width: 45%;
            height: 350px;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .soc-cont1 {
            background-image: url("../media/dest/jpg/boy1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont2 {
            background-image: url("../media/dest/jpg/man-suit.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont3 {
            background-image: url("../media/dest/jpg/man-glass.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont4 {
            background-image: url("../media/dest/jpg/girl1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
   
    }
    
    .name-card {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #ff7200;
        opacity: 0.9;
        transition: 0.5s ease-out;
        h6 {
            margin: 0;
            //padding-left: 20px;
            padding-top: 18px;
            font-family: "mont-reg", sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }
        p {
            margin: 0;
            //padding-left: 20px;
            padding-top: 6px;
            padding-bottom: 40px;
            font-family: "raleway-reg", sans-serif;
            font-size: 14px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
        .net-cont {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 190px;
            .border {
                margin: 5px;
                width: 35px;
                height: 35px;
                border: solid 1px rgba($color: #fff, $alpha: 0.5);
                position: relative;
                fill:#fff;
                &:hover {
                    background-color: #fff;
                    fill:#ff7200;
    
                }
            }
            .border.active {
                    background-color: #fff;
                    fill:#ff7200;
            }
                // &:nth-child(1) {
                //     background-color: #fff;
                // }
            
            .icon {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media all and (min-width: 300px) and (max-width: 529px) {
    .crazy-team {
        padding-top: 35px;
        padding-bottom: 35px;
        h3 {
            margin: 0 0 75px;
            position: relative;
            font-family: "mont-reg", sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #444;
            &::before {
                content: '';
                position:absolute;
                top: 58px;
                left: 0;
                width: 150px;
                height: 1px;
                background-color: #eee;
            }
            &::after {
                content: '';
                position: absolute;
                top: 56px;
                left: 0;
                width: 50px;
                height: 3px;
                background-color: #ff7200;
            }
        }
    }
    
    .photo-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .soc-cont1, .soc-cont2, .soc-cont3, .soc-cont4  {
            margin: 10px;
            width: 100%;
            height: 350px;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .soc-cont1 {
            background-image: url("../media/dest/jpg/boy1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont2 {
            background-image: url("../media/dest/jpg/man-suit.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont3 {
            background-image: url("../media/dest/jpg/man-glass.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        .soc-cont4 {
            background-image: url("../media/dest/jpg/girl1.jpg");
            &:hover .name-card {
                top: 56%;
            }
        }
        
    }
    
    .name-card {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #ff7200;
        opacity: 0.9;
        transition: 0.5s ease-out;
        h6 {
            margin: 0;
            //padding-left: 20px;
            padding-top: 18px;
            font-family: "mont-reg", sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }
        p {
            margin: 0;
            //padding-left: 20px;
            padding-top: 6px;
            padding-bottom: 40px;
            font-family: "raleway-reg", sans-serif;
            font-size: 14px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
        .net-cont {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 190px;
            .border {
                margin: 5px;
                width: 35px;
                height: 35px;
                border: solid 1px rgba($color: #fff, $alpha: 0.5);
                position: relative;
                fill:#fff;
                &:hover {
                    background-color: #fff;
                    fill:#ff7200;
    
                }
            }
            .border.active {
                    background-color: #fff;
                    fill:#ff7200;
            }
                // &:nth-child(1) {
                //     background-color: #fff;
                // }
            
            .icon {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


